<%= form_for @device, :html => { :class => "form-horizontal device" } do |f| %>

  <% if @device.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@device.errors.count, "error") %> prohibited this device from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @device.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:name) %>
  </div>
  <div class="form-group">
    <%= f.label :type, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :type, :class => 'form-control' %>
    </div>
    <%=f.error_span(:type) %>
  </div>
  <div class="form-group">
    <%= f.label :on, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :on, :class => 'form-control' %>
    </div>
    <%=f.error_span(:on) %>
  </div>
  <div class="form-group">
    <%= f.label :room_category_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :room_category_id, :class => 'form-control' %>
    </div>
    <%=f.error_span(:room_category_id) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                devices_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
